:root {
  --primary-color: #C9D6DF;
  --secondary-color: #1F2022;
  --base-color: #53616C;
  --backup-color: #fff;
  font-size: 14px;
}

body {
  background-color: var(--base-color);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  transition: 0.4s ease-in;
  /*font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;*/
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.section {
  border-bottom: 1px solid white;
  box-shadow: 1px 0px 2px var(--base-color);
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.2rem;
  padding: 1.5rem;
  margin-bottom: 4rem;
}
/*Header*/

header {
  display: grid;
  grid-template-columns: 1fr 50% 30%;
  grid-template-rows: auto auto;
  background-color: var(--primary-color);
  padding-bottom: 1rem;
  z-index: 10;
}

/*Logo*/
img.toplogo {
  height: 5rem;
  width: auto;
  margin-left: 2rem;
  padding: 1rem;
  grid-row: 1/4;
  grid-column: 1;
}

/*Hamburger menu*/

.hamburger {
  display: flex;
  flex-direction: column; 
  cursor: pointer;
  margin: 2.5rem;
  z-index: 200;
  transform: color: var(--base-color), scale(100%);
  grid-row: 1;
  grid-column: 3/4;
}

.hamburger span {
  margin-top: 0.5rem;
  height: 0.2rem;
  width: 2.4rem;
  background-color: var(--base-color);
  border-radius: 7.5rem;
}

/*Navigation bar*/
 nav {
  background-color: var(--base-color);
  color: var(--primary-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 0rem;
  grid-row: 2;
  grid-column:1/4;
}

nav ul,
nav li, 
nav a {
  display: inline-block;
 
}
nav li:last-of-type {
  padding-left: ;
}


nav li:not(:last-of-type) {
  border-right: .5px lightgray solid;
  padding-right: .5rem;
}

nav li:not(:first-of-type) {
  padding-left: .5rem;
}

nav a {
  color: var(--backup-color);
  font-size: 1.3rem;
}

nav a:not(:last-of-type) {
  color: var(--primary-color);
  font-size: 1.1rem;
}

/* .hamburger:active + nav {
  transform: translateX(-40%);
  width: 10rem;
  height: 10rem;
} */

.hamburger:hover + nav {
  height: 4rem;
 
}
*/
.hamburger:hover {
  transform: scale(120%);
}

/*Hero*/
.hero {
  padding: 2rem;
  background-color: var(--primary-color);
  z-index: 2;
}

.hero h1 {
  color: var(--base-color);
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}


.hero p {
 color: var(--secondary-color);
  text-align: center;
  font-size: 1.2rem;
  padding: 1.5rem;
  margin-bottom: 4rem;
}

.hero button {
  color: var(--secondary-color);
  padding: 1rem 3.5rem;
  border-radius: 1.2rem;
  display: block;
  margin: 2rem auto;
  font-size: 1.5rem;
  cursor: pointer;
}

.hero button:hover {
  background-color: var(--primary-color);
  transition: background-color 0.2s ease-in-out;
}

/*About us*/
.about  {
  padding: 1rem;
  background-color: var(--primary-color);
}

.about h2 {
  color: var(--base-color);
  text-align: center;
  font-size: 2rem;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}

.about img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Video*/
.video {
  padding: 1.2rem;
  background-color: var(--primary-color);
}

.video h2 {
  color: var(--base-color);
  text-align: center;
  font-size: 2rem;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}

.video iframe {
  display: block;
  margin: auto;
  padding: 0.8rem;
  min-width: 60vw;
  height: auto;
}

/* Gallery */
.gallery {
  background-color: var(--primary-color);
}

.gallery h2 {
  color: var(--base-color);
  text-align: center;
  font-size: 2rem;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}

.gallery img {
  max-width: 100vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Contact*/
.contact {
  padding: 1.2rem;
  background-color: var(--primary-color);
}

.contact h2 {
  color: var(--base-color);
  text-align: center;
  font-size: 2rem;
  padding-top: 1.2rem;
  margin-bottom: -1;
}

.contact fieldset {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.contact input,
.contact textarea {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 60vw;
  max-width: 300px;
  border-radius: 10px;
  padding: 0.3rem;
}

.contact button {
  padding: 1rem 3.5rem;
  border-radius: 1.2rem;
  display: block;
  margin: 2rem auto;
  font-size: 1.5rem;
  cursor: pointer;
}

.contact button:hover {
  background-color: var(--primary-color);
  transition: background-color 0.2s ease-in-out;
}

.contact input:focus:invalid {
  border-color: red;
}

/*Footer*/
footer {
display: grid;
grid-template-rows: auto auto;
grid-template-columns: 1fr 70%;
gap: .3rem;
}

footer img.footerlogo {
height: 5rem;
  width: auto;
  display: block;
  margin-left: 2rem;
  padding: 1rem;
  grid-row: 1/3;
  grid-column: 1/2;
}

footer p {
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: left;
  font-size: 0.7rem;
}

footer .social {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-flow: row nowrap;
  justify-self: flex-start;
  margin-top: .5rem;
}

  footer a img {
    height: 2rem;
    margin: .5rem;
  }
  

@media (max-width: 440px) {
  root: {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  root: {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  root: {
    font-size: 32px;
  }
}